.hero-photo {
  width: 100vw;
  height: 82vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-photo > img {
  width: 100%;
}

@media (max-width: 750px) {
  .hero-photo {
    width: 95%;
    height: 300px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
  }
  .hero-photo > img {
    width: 100%;
  }
}
